/* PHASE 2: Notifications */

.list-elements {
  display: none;
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
  white-space: normal;
  background-color: white;
  color: black;
}

.notification:hover .list-elements {
  z-index: 1;
  display: block;
}

.badge {
  display: inline;
  padding: 1px 5px;
  background: black;
  border-radius: 50%;
}

.notification:hover .badge {
  background: red;
}